.header-container {
  height: 40px;
  background-color: #e9ecef;
}

.company-name {
  margin-left: 20px;
  font-size: 24px;
  color: gray;
  line-height: 40px;
}

.element-container {
  float: right;
  line-height: 40px;
}

.exit:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.user-role {
  margin-right: 35px;
}