.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-dialog {
  z-index: 1000;
}

.open {
  display: block!important;
}

.text-comment-dialog {
  height: 50px;
  resize: none;
  width: 100%;
  overflow: auto;
}